server:
  port: ${PORT:8888}
  servlet:
    context-path: /api-gateway

# Payment service integrated - Updated 2026-01-08
config:
  http:
    identity: ${IDENTITY_SERVICE_URL:http://localhost:8000/identity}
  prefix: /api/v1
  remove-prefix: 2

cors:
  allowed:
    origins: ${CORS_ALLOWED_ORIGINS:http://localhost:5173,http://localhost:3000}

spring:
  application:
    name: api-gateway
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          "[/**]":
            allowedOriginPatterns:
              - "http://localhost:*"
              - "http://localhost"
              - "https://nmcnpm.lethanhcong.site"
              - "https://nmcnpm.lethanhcong.site:*"
              - "https://nmcnpm-api.lethanhcong.site"
              - "https://nmcnpm-api.lethanhcong.site:*"
              - "https://*.lethanhcong.site"
              - "https://*.lethanhcong.site:*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - X-Access-Token
              - Authorization
              - Content-Type
              - Set-Cookie
            allowCredentials: true
            maxAge: 3600
      default-filters:
        - PreserveHostHeader
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      routes:
        - id: identity-service
          uri: ${IDENTITY_SERVICE_URL:http://localhost:8000}
          predicates:
            - Path=${config.prefix}/identity/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: profile-service
          uri: ${PROFILE_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=${config.prefix}/profiles/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: post-service
          uri: ${POST_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=${config.prefix}/posts/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: comments-service
          uri: ${COMMENT_SERVICE_URL:http://localhost:8003}
          predicates:
            - Path=${config.prefix}/comments/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: communication-service
          uri: ${COMMUNICATION_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=${config.prefix}/communications/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: cognitive-service
          uri: ${COGNITIVE_SERVICE_URL:http://localhost:9090}
          predicates:
            - Path=${config.prefix}/cognitive/**
          filters:
            - StripPrefix=${config.remove-prefix}

        - id: payment-service
          uri: ${PAYMENT_SERVICE_URL:http://host.docker.internal:4444}
          predicates:
            - Path=${config.prefix}/payment/**
          filters:
            - StripPrefix=${config.remove-prefix}
